<div class="container">
    <button class="btn custom-btn sport">Sport</button><br>
    <button class="btn custom-btn nutr">Nutrition</button><br>
</div>
<style>
    .container{
        justify-content: center;
        display: flex;
        background: url('assets/Capture.png') no-repeat center center fixed; 
        background-size: cover; 
        height: 700px;; 
    }
    .btn.custom-btn{
    margin-right: 200px;
    margin-top: 500px;
    margin-inline-start: 100px;
    }
    .sport{
        height:50px ;
        width: 1à0px;
        font-weight: bold;
        background: linear-gradient(to right, #3059df, hsl(0, 0%, 0%));
        color: lemonchiffon;

    }
    .nutr{
        height:50px ;
        width: 90px;
        font-weight: bold;
        background: linear-gradient(to right, #d49619, hsl(0, 0%, 0%));
        color: lemonchiffon;


    }
</style>